h1{
    font-family: 'noto-serif';
    font-weight: bold;
}
p{
    font-family: 'inter';
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
.card-section p,h5{
   color: #111111;
}
button{
    font-family: 'inter';
}
.badge-section li{
    color:rgba(0, 0, 0, 0.5) ;
    font-family: 'inter'; 
}
.deals-1 {
    background-image: url('assets/deal-bloom.png');
    background-color: #26262680;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}
.deals-2 {
    background-image: url('assets/deal-ana.png');
    background-color: #26262680;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}
.deals-3 {
    background-image: url('assets/deal-zabo.png');
    background-color: #26262680;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}
.join{
    background-image: url('./assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  
}

 input[type="email"]{
    font-family: 'inter';
    color: #111111ad;
}