h1{
    font-family: 'noto-serif';
    font-weight: bold;
}
p{
    font-family: 'inter';
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
.card-section p,h5{
   color: #111111;
}
button{
    font-family: 'inter';
}
.badge-section li{
    color:rgba(0, 0, 0, 0.5) ;
    font-family: 'inter';
    line-height: 27px;
    
}